*{
  box-sizing: border-box;
}

.head{
    background-color: #ffffff;
    height: 100px;
    width: 100vw;
    position: relative;
    text-align: center;
    margin: 0 auto;
    // display: flex;
    // align-items: center;
  &--jr{
    background-color: #ffffff;
    // width: 1020px;
    // height: 100px;
    // box-sizing: border-box;
    margin: 0px auto;
    // display: inline-block;
    // text-align: left;
    // padding: 0px 0px 0px;
    position: absolute;
  }
}
