*{
  box-sizing: border-box;
}

.head{
    background-color: #ffffff;
    height: 100px;
    width: 100vw;
    position: relative;
    text-align: center;
  &--jr{
    background-color: #ffffff;
    position: relative;
    height: 100px;
    width: 1020px;
    margin: 0 auto;
    // display: inline-block;
    // text-align: left;
    // padding: 0px 0px 0px;
  }
}
