
.multilevel{
  position: absolute;
	bottom: 0;
  height: 44px;
  width: 1020px;
  background-color: #ffffff;
  padding: px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--categolize{
    z-index: 1;
    height: 44px;
    width: 308px;
    background-color: #ffffff;
    display: flex;
    &--categolyseach{
      height: 36px;
      width: 149px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      &--list{
        height: 12px;
        width: 20px;
        color: red;
        background-color: #ffffff;
        display: inline-block;
      }
      &--text{
        font-weight: bold;
      }
    }
    &--brand{
      height: 36px;
      width: 139px;
      margin-left: 9px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      cursor: pointer;
     
      &--tag{
        height: 12px;
        width: 20px;
        color: red;
        background-color: #ffffff;
      }
      &--text{
        font-weight: bold;
      }

    }
  }
  &--renkon{
    margin-left: 200px;
    height: 44px;
    width: 520px;
    background-color: #ffffff;
    display: flex;
    &--good{
      height: 44px;
      width: 127px;
      background-color: #ffffff;
      &--good2{
        height: 32px;
        width: 113px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &--heart{
          height: 18px;
          width: 19px;
          color: black;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          font-size: 19px;
        }
        &--text{
          color: black;
        }
      }
      &--good2 a:hover{
        color:royalblue;
        }
    }
    &--information{
      padding-left: 10px;
      height: 44px;
      width: 111px;
      background-color: #ffffff;
      &--information2{
        height: 32px;
        width: 83px;
        background-color:#ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &--bell{
          color: black;
          height: 19px;
          width: 17px;
          background-color:#ffffff;
          display: flex;
          align-items: center;
          font-size: 19px;
        }
        &--text{
          color: black;
        }
      }
      &--information2:hover{
        color:royalblue;
      }
    }
    &--things{
      padding-left: 10px;
      height: 44px;
      width: 157px;
      background-color: #ffffff;
      &--things2{
        height: 32px;
        width: 129px;
        background-color:#ffffff;
        color:black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &--check{
          color: black;
          background-color:#ffffff;
          height: 16px;
          width: 21px;
          display: flex;
          align-items: center;
          font-size: 19px;
        }
        &--text{
          color: black;
        }
      }
    }
    &--my{
      padding-left: 10px;
      height: 44px;
      width: 125px;
      background-color: #ffffff;
      &--my2{
      height: 32px;
      width: 111px;
      background-color: #ffffff;
      display: flex;
      position: relative;
      cursor: pointer;
      &--photo{
      height: 32px;
      width: 32px;
      border-radius: 50px;
      background-image: image-url("gorira.jpg");
      background-size: cover;
      background-position: center;
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      }
      &--text{
        position: absolute;
        top: 10px;
        right: 0;
        color: black;
      }
      }
    }
  }
}
.multilevel--categolize--categolyseach:hover .multilevel--categolize--categolyseach--list{
  color:red;
}
.multilevel--categolize--categolyseachs:hover .multilevel--categolize--categolyseach--text{
  color: #5db7f3;
}
.multilevel--categolize--brand:hover .multilevel--categolize--brand--tag{
  color: red;
}
.category-boxs:hover .multilevel--categolize--brand--text{
  color: #5db7f3;
}
.multilevel--renkon--good--good2:hover .multilevel--renkon--good--good2--heart{
  color: aqua;
}
.multilevel--renkon--good--good2:hover .multilevel--renkon--good--good2--text{
  color: aqua;
}
.multilevel--renkon--information--information2:hover .multilevel--renkon--information--information2--bell{
  color: aqua;
}
.multilevel--renkon--information--information2:hover .multilevel--renkon--information--information2--text{
  color: aqua;
}
.multilevel--renkon--things--things2:hover .multilevel--renkon--things--things2--check{
  color: aqua;
}
.multilevel--renkon--things--things2:hover .multilevel--renkon--things--things2--text{
  color: aqua;
}
.multilevel--renkon--my--my2:hover .multilevel--renkon--my--my2--photo {
  color: aqua;
}
.multilevel--renkon--my--my2:hover .multilevel--renkon--my--my2--text {
  color: aqua;
}

.category_list {
  display: flex;
  position: absolute;
  top:44px;
  .parents_list{
    background: #fff;
    width: auto;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
     a {
      display: block;
      width: 224px;
      height: 44px;
      text-align: left;
      line-height: 44px;
      padding-left: 20px;
      list-style: none;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .children_list{
    background: #fff;
    width: auto;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
     a {
      display: block;
      width: 224px;
      height: 35px;
      text-align: left;
      line-height: 44px;
      padding-left: 20px;
      list-style: none;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .grand_children_list{
    background: #fff;
    width: auto;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
     a {
      display: block;
      width: 320px;
      height: 30px;
      text-align: left;
      line-height: 44px;
      padding-left: 20px;
      list-style: none;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }
}

.now-selected-red {
  background-color: #ea352b;
  color: white;
}

.now-selected-gray {
  background-color: #efefef;
}

.now-selected-gray-gray {
  background-color: #efefef;
}

.two-btn {
  display: flex;
  .new-btn {
    a {
      color: #fff;
      text-decoration: none;
      background-color: #ea352b;
      font-size: 14px;
      display: block;
      padding: 8px 10px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      border-color: #ea352b;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
  .login-btn {
    a {
      color: #0095ee;
      text-decoration: none;
      font-size: 14px;
      display: block;
      padding: 8px 10px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      border-color: #0095ee;
      margin-bottom: 5px;
      margin-left: 11px;
      cursor: pointer;
    }
    :hover{
      transition: all .2s ease-out;
      background-color: #0095ee;
      color: white;
    }
  }
}
.brand-box {
  display: flex;
}

.brand-list {
  position: absolute;
  top: 44px;
  cursor: pointer;
  display: none;
  .brand-sell {
    background: #fff;
    width: 224px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    .inner-list {
      display: block;
      height: 44px;
      text-align: left;
      line-height: 44px;
      padding-left: 20px;
      list-style: none;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }
}

.category-boxs {
  cursor: pointer;
  position: relative;
}

.multilevel--categolize--categolyseachs{
  cursor: pointer;
}