.ave
  %ul.slider
    %li 
      = image_tag "top-banner-camp.jpg" ,size: "cover"
    %li
      = image_tag "top-banner-main.jpg", size: "cover"
    %li
      = image_tag "susizanmai.jpg", size: "cover"


  -# .ave--left
  -#   = fa_icon"chevron-left"
  -# .ave--right
  -#   = fa_icon"chevron-right"
  -# .ave--circle
  -#   .ave--circle--left
  -#     = fa_icon"circle"
  -#   .ave--circle--right
  -#     = fa_icon"circle"