.category
  .category--jr
    人気のカテゴリー
  .category--sen
    .category--sen--lady
      .category--sen--lady--text
        レディース
    .category--sen--mens
      .category--sen--mens--text
        メンズ
    .category--sen--app
      .category--sen--app--text
        家電・スマホ・カメラ
    .category--sen--toy
      .category--sen--toy--text
        おもちゃ・ホビー・グッズ
