.iconform
  .iconform--icon
    = link_to "#" do
      = image_tag "mercari_logo.svg", size: "134x36"
  .iconform--form
    何かお探しですか？
    .iconform--form--button
      .iconform--form--button--button2
        = fa_icon"search"
      
