.items
  .items__
    .items__ladyheader
      =render partial:"ladyheader"
    .items__ladycontent
      =render partial:"content"
    .items__mensheader
      =render partial:"mensheader"
    .items__menscontent
      =render partial:"content"
    .items__appheader
      =render partial:"appheader"
    .items__appcontent
      =render partial:"content"
    .items__toyheader
      =render partial:"toyheader"
    .items__toycontent
      =render partial:"content"
    .items__category
      =render partial:"brand"
    .items__shane
      =render partial:"shaneheader"
    .items__shanecontent
      =render partial:"content"
    .items__rui
      =render partial:"ruiheader"
    .items__ruicontent
      =render partial:"content"
    .items__sup
      =render partial:"supheader"
    .items__supcontent
      =render partial:"content"
    .items__nike
      =render partial:"nikeheader"
    .items__nikecontent
      =render partial:"content"
      