%section.user-icon
  = link_to "#" do
    %figure
    %h2.bold 
      = @nickname
    .mypage-number
      .mypage-numuber__hyoka
        評価
        %span 3
      .mypage-number__syuppin
        出品数
        %span 0
