%section.bought-list
  %h2.bought-list__top 購入した商品
  %ul.bought-list__tab-head
    %li.bought-list__tab-head--left
      取引中
    %li.bought-list__tab-head--right
      過去の取引

  .bought-list__purchase-content.active
    %ul.bought-list__purchase-content--contents
      %li.bought-list__purchase-content--information
        取引中の商品がありません

  .bought-list__purchased-content
    %ul.bought-list__purchased-content--contents
      %li.bought-list__purchased-content--information
        過去に取引した商品がありません