%section.bought-list
  %h2.bought-list__top 購入した商品

  %ul.bought-list__tab-heads
    %li.bought-list__tab-heads--head.okey{id: 'purchase'}
      取引中
    %li.bought-list__tab-heads--head{id: 'puschased'}
      過去の取引

  %ul.bought-list__contents
    %li.bought-list__contents--content.show
      %ul.bought-list__contents--content--purchase--contents
        %li.bought-list__contents--content--purchase--information
          取引中の商品がありません
    %li.bought-list__contents--content
      %ul.bought-list__contents--content--purchased--contents
        %li.bought-list__contents--content--purchased--information
          過去に取引した商品がありません