.us-body
  .us-body__header
    = render partial: 'users/us-body__header'
    .progress-bar
      = render partial: 'users/progress-bar'
  .us-body__main-registration
    .us-body__main-registration__container
      %h2.us-body__main-registration__container__head
        住所入力
      .us-body__main-registration__container__form
        .us-body__main-registration__container__form__content
          .form-group
            %label.form-group__label お名前
            %span.form-group__require 必須
            %input{type:"text", placeholder: "例) 山田" , name:"nickname" , class:'input-default'}
            %input{type:"text", placeholder: "例) 彩" , name:"nickname" , class:'input-default'}
          .form-group
            %label.form-group__label お名前カナ
            %span.form-group__require 必須
            %input{type:"text", placeholder: "例) ヤマダ" , name:"nickname" , class:'input-default'}
            %input{type:"text", placeholder: "例) アヤ" , name:"nickname" , class:'input-default'}
          .form-group
            %label.form-group__label 郵便番号
            %span.form-group__require 必須
            %input{type:"text", placeholder: "例) 123−4567" , name:"nickname" , class:'input-default'}
          .form-group
            %label.form-group__label 市区町村
            %span.form-group__require 必須
            %input{type:"text", placeholder: "例) 横浜市緑区" , name:"nickname" , class:'input-default'}
          .form-group
            %label.form-group__label 番地
            %span.form-group__require 必須
            %input{type:"text", placeholder: "例) 青山1−1−1" , name:"nickname" , class:'input-default'}
          .form-group
            %label.form-group__label 建物名
            %span.form-group__require.option 任意
            %input{type:"text", placeholder: "例) 柳ビル103" , name:"nickname" , class:'input-default'}
          .form-group
            %label.form-group__label 電話
            %span.form-group__require.option 任意
            %input{type:"text", placeholder: "例) 090−1234−5678" , name:"nickname" , class:'input-default'}
          %button{class: 'btn-default btn-red',type: "submit"}
            次へ進む
  .us-body__footer
    = render partial: 'users/us-body__footer'