.body
  = render partial: 'tops/header/head'
  = render partial: 'layouts/pankuzu'
  = render partial: 'layouts/syuppinn'
  .mid
    .side
    .main
      .form
        .form-content
          ログアウト
  = render partial: 'tops/bottoms/bottom'