.iconform
  .iconform--icon
    = link_to root_path do
      = image_tag "mercari_logo.svg", size: "134x36"
  %form{action: "#"}
    %input{type:"text", placeholder: "何かお探しですか？" , name:"keyword" , value:""}
    %button{type: "submit"}
      %i.fa.fa-search

       
      
