.multilevel
  .multilevel--categolize
    .multilevel--categolize--categolyseach
      .multilevel--categolize--categolyseach--list
        = fa_icon"list-ul"
      .multilevel--categolize--categolyseach--text
        カテゴリーから探す
    .multilevel--categolize--brand
      .multilevel--categolize--brand--tag
        %i.fa.fa-tag.fa-rotate-45.multilevel--categolize--brand--tag{"aria-hidden":"true"}
      .multilevel--categolize--brand--text
        ブランドから探す
  .multilevel--renkon
    .multilevel--renkon--good
      .multilevel--renkon--good--good2
        .multilevel--renkon--good--good2--heart
          = fa_icon"heart-o"
        .multilevel--renkon--good--good2--text
          いいね！一覧
    .multilevel--renkon--information
      .multilevel--renkon--information--information2
        .multilevel--renkon--information--information2--bell
          = fa_icon"bell-o"
        .multilevel--renkon--information--information2--text
          お知らせ
    .multilevel--renkon--things
      .multilevel--renkon--things--things2
        .multilevel--renkon--things--things2--check
          = fa_icon"check"
        .multilevel--renkon--things--things2--text
          やることリスト
        

