.items
  .items__ladyheader
    =render partial:"tops/items/ladyheader"
  .items__ladycontent
    =render partial:"tops/items/content"
  .items__mensheader
    =render partial:"tops/items/mensheader"
  .items__menscontent
    =render partial:"tops/items/content"
  .items__appheader
    =render partial:"tops/items/appheader"
  .items__appcontent
    =render partial:"tops/items/content"
  .items__toyheader
    =render partial:"tops/items/toyheader"
  .items__toycontent
    =render partial:"tops/items/content"
  .items__category
    =render partial:"tops/items/brand"
  .items__shane
    =render partial:"tops/items/shaneheader"
  .items__shanecontent
    =render partial:"tops/items/content"
  .items__rui
    =render partial:"tops/items/ruiheader"
  .items__ruicontent
    =render partial:"tops/items/content"
  .items__sup
    =render partial:"tops/items/supheader"
  .items__supcontent
    =render partial:"tops/items/content"
  .items__nike
    =render partial:"tops/items/nikeheader"
  .items__nikecontent
    =render partial:"tops/items/content"
    