.brand{
  position: relative;
  height:171px;
  background-color: white;
  padding: 56px 0 30px;
  width: 1440px;
  left: 0;
  
  &--jr{
    position: absolute;
    width: 100%;
    top: 56px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
   
  }
  &--sen{
    position: absolute;
    height: 30px;
    width: 100%;
    top: 110px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
   

    &--shane{
      height: 30px;
      width: 92px;
      background-color: #EEEEEE;
      border-radius: 20px;
      justify-content: center;
      cursor: pointer;
      
      
      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }

      a {
        text-decoration: none;
      }

    }

    &--rui{
      height: 30px;
      width: 122px;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin: 0 5px 0 10px;
      cursor: pointer;

      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }
      a {
        text-decoration: none;
      }

    }

    &--sup{
      height: 30px;
      width: 122px;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin: 0 5px;
      cursor: pointer;
      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }
      a {
        text-decoration: none;
      }

    }

    &--nike{
      height: 30px;
      width: 80px;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin: 0 5px;
      cursor: pointer;
      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }
      a {
        text-decoration: none;
      }

    }
  }
}
