*{
  box-sizing: border-box;
}

.category{
  position: relative;
  height:171px;
  width: 1440px;
  background-color: white;
  a {
    text-decoration: none;
  }
  &--jr{
    position: absolute;
    height: 39px;
    width: 100%;
    top: 56px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
   
  }
  &--sen{
    position: absolute;
    height: 30px;
    width: 100%;
    top: 110px;
    background-color: white;
    display: flex;
   

    &--lady{
      height: 30px;
      width: 102px;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin-left:420px;
      cursor: pointer;
      
      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }

      }

    &--mens{
      height: 30px;
      width: 74px;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin: 0 5px 0 10px;
      cursor: pointer;
      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }

    }

    &--app{
      height: 30px;
      width: 172px;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin: 0 5px;
      cursor: pointer;
      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }
    }

    &--toy{
      height: 30px;
      width: 200px;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin: 0 5px;
      cursor: pointer;
      &--text{
        font-weight: bold;
        text-align: center;
        line-height: 30px;
      }
    }
    }
  }
