*{
  box-sizing: border-box;
}

.content{
  margin: 10px 0 45px 0;
  width: 100%;
  background-color:#EEEEEE;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  


.content__box2 {
  height: 252px;
  width: 188px;
  margin: 5px 5px 15px 5px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
  img{
  object-fit: cover;
  }
  position: relative;
  .sell-icon {
    
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 50px solid #ea352b;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #ea352b;
    cursor: pointer;
  } 
  .sell-box {
    position: absolute;
    top: 20px;
    left: 10;
    font-size: 24px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 100;
    transform: rotate(-45deg);
    cursor: pointer;
  }
}
}
  