*{
  box-sizing: border-box;
}

@mixin box-side{
  height: 252px;
  width: 188px;
  position: relative;
  background-color: white;
  float: left;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

@mixin box-top{
  height: 252px;
  width: 188px;
  position: relative;
  margin-left:20px;
  background-color: white;
  float: left;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

@mixin box-bottom{
  height: 252px;
  width: 188px;
  position: relative;
  margin:20px 0 0 20px;
  background-color: white;
  float: left;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}
.content{
  margin-top: 8px;
  height: 524px;
  width:1020px;
  background-color:#EEEEEE;
  margin: 0 auto 100px;
  &__box1{
    @include box-side;
  }
  &__box2{
   @include box-top;
  }
  &__box3{
    @include box-top;
  }
  &__box4{
    @include box-top;
  }
  &__box5{
    @include box-top;
  }
  &__box6{
    @include box-side;
    margin-top: 20px;
  }
  &__box7{
    @include box-bottom;
  }
  &__box8{
    @include box-bottom;
  }
  &__box9{
    @include box-bottom;
  }
  &__box10{
    @include box-bottom;
    }
}

.content__box2 {
  img{
  object-fit: scale-down;
  }
  position: relative;
  .sell-icon {
    
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 50px solid #ea352b;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #ea352b;
    cursor: pointer;
  } 
  .sell-box {
    position: absolute;
    top: 20px;
    left: 10;
    font-size: 24px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 100;
    transform: rotate(-45deg);
    cursor: pointer;
  }
}

  