.price{
  height: 28px;
  width: 78.05px;
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 60%;
  font-size: 17px;
  color: #ffffff;
  text-align: center; 
  padding: 6px 12px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}