.brand
  .brand--jr
    人気のブランド
  .brand--sen
    .brand--sen--shane
      .brand--sen--shane--text
        シャネル
    .brand--sen--rui
      .brand--sen--rui--text
        ルイヴィトン
    .brand--sen--sup
      .brand--sen--sup--text
        シュプリーム
    .brand--sen--nike
      .brand--sen--nike--text
        ナイキ 
