.brand
  .brand--jr
    人気のブランド
  .brand--sen
    .brand--sen--shane
      .brand--sen--shane--text
        = link_to "シャネル", "#content4"
    .brand--sen--rui
      .brand--sen--rui--text
        = link_to "ルイヴィトン", "#content5"
    .brand--sen--sup
      .brand--sen--sup--text
        = link_to "シュプリーム", "#content6"
    .brand--sen--nike
      .brand--sen--nike--text
        = link_to "ナイキ", "#content7"
