.category
  .category--jr
    人気のカテゴリー
  .category--sen
    .category--sen--lady
      .category--sen--lady--text
        = link_to"レディース" , "#content"
    .category--sen--mens
      .category--sen--mens--text
        = link_to "メンズ" , "#content1"
    .category--sen--app
      .category--sen--app--text
        = link_to "家電・スマホ・カメラ" , "#content2"
    .category--sen--toy
      .category--sen--toy--text
        = link_to "おもちゃ・ホビー・グッズ" , "#content3"

