.content
  .content__box1
    = link_to "gorira.jpg", products_details_path
  .content__box2
  .content__box3
  .content__box4
  .content__box5
  .content__box6
  .content__box7
  .content__box8
  .content__box9
  .content__box10