
  .form {
    margin: 64px;
    text-align: center;
    .form-content {
      margin: 0 auto;
      width: 320px;
      text-align: center;
      color: white;
      background-color: #ea352b;
      line-height: 48px;
      border: 1px solid #ea352b;
    }
  }
  