.itembox
  .itembox__photobox
  .itembox__itembody
    .itembox__itembody--productsname
      ＊新品＊男女兼用＊b one soul＊ダックデュード＊GORIRA
      .itembox__itembody--productsname--smoke
    .itembox__itembody--pricebox
      .itembox__itembody--pricebox--price
        ¥ASK
      .itembox__itembody--pricebox--fonts
        .itembox__itembody--pricebox--fonts--hearts
          = fa_icon"heart-o"
        .itembox__itembody--pricebox--fonts--counts
          2
      