.mypages{
  background-color: #F5F5F5;

}

.mypage {
  width: 1020px;
  // margin: 40px auto 40px;
  margin: auto;
  padding: 40px 0;
  overflow: auto;
  background-color: #F5F5F5;
  &__left {
    // float: left;
    width: 280px;
    margin: 0 40px 0 0;
    &--list{
      &--item {
        position: relative;
        display: block;
        min-height: 48px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 1px;
      }
      &--item:hover {
        background-color: #FAFAFA;
        i {
          color: #343434;
          position: relative;
          left: 3px;
        }
      }
      &--item a{
        text-decoration: none;
        color: #333;
      }
      &--item i{
        float: right;
        color: #EEE;
        transition: all .2s ease-out;
      }
      &--head {
        margin: 40px 0 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  &__right {
    width: 700px;
    float: right;
    background-color: #F5F5F5;
    .user-icon {
      background-image: image-url("profile2.jpg");
      background-size: cover;
      height: 200px;
      position: relative;
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
    }
    .user-icon a {
      display: block;
      position: absolute;
      top: 43%;
      left: 0;
      right: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #333;
      text-decoration: none;
      cursor: pointer;
    }

    .user-icon figure { 
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-image: image-url("gorira.jpg");
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin: 0 auto;
    }

    h2.bold {
      margin: 12px 0 0;
      font-size: 13px;
      font-weight: 550;
    }
    .mypage-number {
      margin: 14px 0 0;
      overflow: hidden;
      display: flex;
      position: absolute;
      right: 41%;
      &__hyoka{
        display: inline-block;
        font-size: 14px;
        // float: left;
      }
      &__syuppin { 
        margin: 0 0 0 16px;
        float: left;
      }
      span {
        font-weight: bold;
        margin: 0 0 0 8px;
      }
    }

    .mypage-tag-notification-todo{
      .mypage-tabs {
        overflow: hidden;
        &__left {
          background-color: #FFF;
          border-top: 2px solid #ea352d;
          width: 50%;
          height: 74px; 
          text-align: center;
          float: left;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          text-decoration: none;
          touch-action: manipulation;
          font-weight: bold;
          cursor: pointer;
        }
        &__right {
          background-color: #EEE;
          width: 50%;
          height: 74px;
          text-align: center;
          float: left;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          font-weight: bold;
          cursor: pointer;
        }
        :hover {
          color: #717171;
        }
      }
    }
    
    .tab-contents {
      .tab-content {
        background-color: #F5F5F5;
        // display: none;
        &__list{
          width: 700px;
          height: auto;
          display: block;
          min-height: 80px;
          padding: 16px;
          color: #333;
          margin-bottom: 1px;
          background-color: #FFF;
          cursor: pointer;
          position: relative;
          &--icon{
            background-image: image-url("profile_mercari_icon.png");
            background-size: cover;
            background-position: center;
            height: 48px;
            width: 48px;
            background-color: #ffffff;
            position: absolute;
            cursor: pointer;
          }
          &--textfield{
            margin: 0 40px 0 68px;
            width: 580px;
            &--text{
              position: relative;
              overflow: hidden;
              display: block;
              display: -webkit-box;
              max-height: 4.4em;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              line-height: 1.5;
            }
            &--time{
              display: flex;
              // justify-content: space-between;
              color: #888;
              &--icon{
                margin: 0 8px 0 0;
                display: inline-block;
                // float: right;
                background-color: black;
                height:16px;
                // weight: 16px;
              }
              &--text{
                display: inline-block;
                // float: right;
              }
            }
          }
        }
        &__list i{
          float: right;
          color: #333;
          position: absolute;
          top: 45%;
          right: 15px;
        }
        &__go-list{
          width: 700px;
          height: auto;
          display: block;
          min-height: 80px;
          padding: 16px;
          color: #333;
          background-color: #FFF;
          position: relative;
          a {
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
            cursor: pointer;
          }
          :hover{
            background-color: #FAFAFA;
          }
        }

        &__todo {
          height: 236px;
          background: #fff;
          display: none;
          &--contents {
            background-image: image-url("logo-gray-icon.svg");
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            margin: 0 auto;
            }
          &--information{
            padding: 160px 0 60px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            font-weight: bold;
          }
        }
      }
    }
    
    .bought-list {
      margin: 40px 0 0;
      background: #fff;
      &__top{
        padding: 0 16px 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        display: block;
        font-weight: bold;
      }
      &__tab-head{
        background: #eee;
        font-size: 16px;
        line-height: 72px;
        font-weight: bold;
        text-align: center;
        &--left{
          border-top: 2px solid #ea352d;
          background-color: #FFF;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;    
          float: left;
          width: 50%;
          cursor: pointer;
        }
        &--right{
          background-color: #EEE;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          float: left;
          width: 50%;
          cursor: pointer;
        }
        :hover {
          color: #717171;
        }
      }
      &__purchase-content {
        height: 236px;
        margin-top: 72px;
        background: #fff;
        &--contents {
          background-image: image-url("logo-gray-icon.svg");
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          margin: 0 auto;
          }
        &--information{
          padding: 160px 0 60px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
          font-weight: bold;
        }
      }
      &__purchased-content {
        height: 236px;
        margin-top: 72px;
        background: #fff;
        display: none;
        &--contents {
          background-image: image-url("logo-gray-icon.svg");
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          margin: 0 auto;
          }
        &--information{
          padding: 160px 0 60px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
          font-weight: bold;
        }
      }
    }
  }
}

.tab-content__list:hover {
  background-color: #FAFAFA;
}

.active {
  display: block;
}
.rock{
  background-color: #f5f5f5;
}