*{
  font-size: inherit;
  line-height: inherit;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
}

.us-body{
  &__header{
    .progress-bar{
      display: inline-block;
      vertical-align: top;
      padding: 40px 0 0 44px;
      border: 0;
      font-size: 0;
    }
  }
  &__main-registration{
    height: auto;
    display: block;
    &__container{
      display: block;
      width: 700px;
      margin: 0 auto;
      background: #fff;
      &__head{
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        max-width: 343px;
        margin: 0 auto;
        .title{
          padding: 32px;
          font-weight: bold;
        }
        .to_sign_up{
          font-size: 14px;
          padding-top: 40px;
          padding-bottom: 40px;
          p{
            
          }
          .btn-blue{
            display: block;
            margin: 8px 0 0;
            border: 1px solid #0099e8;
            background: #0099e8;
            color: #fff;
            line-height: 40px;
            text-decoration: none;
          }
        }
      }
      &__form{
        padding: 24px 16px 40px;
        border-top: 1px solid #f5f5f5;
        &__content{
          max-width: 343px;
          margin: 0 auto;
          p{
            margin-top: 8px;
            line-height: 1.5;
          }
          .form-group{
            margin: 24px 0 0;
            display: block;
            h2{
              font-size:22px;
              text-align: center;
            }
            &__label{
              font-weight: 600;
              font-size: 14px;
              display: inline-block;
            }
            &__sub-head{
              font-size: 16px;
              margin-block-start: 1em;
              margin-block-end: 1em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              font-weight: bold;
            }
            &__text{
              margin: 8px 0 0;
              padding: 0;
              line-height: 1.5;
            }
            .text-center{
                text-align: center;
                & a {
                  text-decoration: none;
                  color: #0099e8;
                }
                & a:hover {
                  opacity: 0.7;
                  text-decoration: underline;
                }
              }
              &__require{
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              .option{
                background: #918c8c;
              }
              .input-default{
                width: 100%;
                margin: 8px 0 0;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
              .input-default:focus{
                border: 1px solid #0099e8;
              }
              .input-default-half{
                width: calc(50% - 6px);
                margin: 8px 0 0;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                cursor: pointer;
              }
              .expiration_date{
                position: relative;
                select{
                  -webkit-appearance: none;
                }
                .input-default-half{
                  width: calc(50% - 6px);
                  margin: 8px 0 0;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  cursor: pointer;
                }
                .fa-chevron-down {
                  font-size: 16px;
                  color: #888888;
                  position: absolute;
                  top: 23px;
                  right:190px;
                  display: inline-block;
                  pointer-events: none;
                }
              }
              .input-default-half:focus{
                border: 1px solid #0099e8;
              }
              .input-default-half:first-of-type{
                margin-right: 8px;
              }
              .signup-card-list{
                margin: 8px 0 0;
                font-size: 0;
                li{
                  display: inline-block;
                  margin: 0 0 0 8px;
                  vertical-align: middle;
                  img{
                    vertical-align: middle;
                    width: auto;
                    height: 20px;
                  }
                }
                li:first-child{
                  margin: 0;
                }
              }
              &__info-text{
                margin: 8px 0 0;
                padding: 0;
                line-height: 1.5;
                color: #888;
              }
              .birthday-select-wrap{
                height: 56px;
                width: 343px;
                display: flex;
                .select-wrap{
                  position: relative;
                  i{
                    font-size: 16px;
                    color: #888888;
                    position: absolute;
                    top: 23px;
                    right:40px;
                    display: inline-block;
                    pointer-events: none;
                  }
                  &__date-separation{
                    position: absolute;
                    top: 0px;
                    left: 40px;
                    font-size: 14px;
                    color: black;
                  }
                select,date_select{
                  background-color: #ffffff;
                  height: 48px;
                  width: 76px;
                  border: 1px solid #ccc;
                  padding: 0 10px;
                  margin: 8px 5px 0 0;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  cursor: pointer;
                }
                select:focus {
                  border: 1px solid #0099e8;
                }
                span{
                  display: inline-block;
                  margin: 0 auto;
                }
              }
              }
          }
          .text-right{
            line-height: 1.5;
            text-align: right;
            & a {
              text-decoration: none;
              color: #0099e8;
            }
            & i {
              color: #0099e8;
              font-size: inherit;
              font-weight:bold;
              box-sizing: inherit;
              cursor: pointer;
            }
            & a:hover {
              opacity: 0.7;
              text-decoration: underline;
            }
          }
        }
        .form-group{
          margin: 32px 0 0;
        }
        .registration_logo {
          margin-top: 50px;
          background-color: red;
          background-image: image-url("download_bg_pc.jpg");
          background-position: center;
          background-size: cover;
          color: #fff;
          &__head-box {
            overflow: hidden;
            margin: 0 auto;
            display: block;
            position: relative;
            &-left {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              float: left;
              margin-left:10px;
              & h2 {
                font-size: 22px;
                font-weight: bold;
              }
              #font {
                font-size: 30px;
                margin: 10px 0 0;
              }
              &__logo {
                margin: 20px 0 0;
                display: flex;
                &__app {
                  display: flex;
                  margin: 0 0 0 24px;
                  justify-content: center;
                  align-items: center;
                  & li {
                    margin-right: 20px;
          
                  }
                  & li:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
            .head-box-right {
              float: right;
              & img {
              width: 300px;
              height: 100%;
              }
            }
          }
        }
      }
      .btn-default{
        margin: 24px 0 0;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      .btn-red{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
      }
      .forget{
        display: block;
        margin: 40px 0 0;
        color: #0099e8;
        text-decoration: none;
      }
    }
    .log_in{
      width:456px;
    }
  }
}
.progress{
  width: 508px;
  &__item{
    display: inline-block;
    min-width: 60px;
    position: relative;
    z-index: 1;
    font-size: 12px;
  }
  &__title{
    width: 96px;
    font-size: 12px;
    color: #888888;
  }
  &__dot{
    margin-top: 10px;
    font-size: 12px;
    position: relative;
    color: #CCCCCC;
  }
  &__line{
    border-top: 2px solid;
    width: 90px;
    position: absolute;
    top: 5px;
    left: 53px;
    color: #CCCCCC;
  }
  &--done{
    color: #D84638;
  }
}
.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

