@mixin required {
  vertical-align: top;
  color: white;
  margin: 0 0 0 8px;
  font-size: 12px;
  padding: 2px 0 2px 4px;
  background-color: red;
  border-radius: 2px;
}

@mixin okinawa {
  display: block;
  width: 100%;
  height: 48px;
  background-color: white;
  padding-left: 15px;
  border: 1px solid #cccccc;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-weight: initial;
  z-index: 1;
  margin-bottom: 10px;
  border-radius: 4px;
  &:focus {
    border: 1px solid #0099e8;
    outline: 0;
  }
}


.products-information {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  header{
    height: 128px;
    background-color: #EEEEEE;
    text-align: center;
  } 
  .main {
    display: block;
    height: auto;
    background-color: #EEEEEE;
    .center {
      margin: 0 auto;
      background-color: white;
      width: 700px;
      .products-box {
        @extend .center;
      }
      .sell-form__header {
        font-size: 22px;
        padding: 32px 16px;
        text-align: center;
        background-color: #ffffff;
        font-weight: bold;
        border-bottom:1px solid #EEEEEE;
      }
      .sell-form-container2 {
        border: 1px solid #f5f5f5;
        .sell-form-container {
          padding: 40px;
          .sell-form-container__label {
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
            .sell-form-container__require {
              height: 19px;
              width: 32px;
              color: #ffffff;
              background-color: #ea352d;
              font-size: 12px;
              margin: 0 0 0 8px;
              padding: 0 4px;
              border-radius: 2px;
              vertical-align: top;
              font-weight: bold;
              display: inline-block;
            }
          }
          .sell-form-container__maisuu {
            font-size: 14px;
            margin: 8px 0 0;
            color: #333333;
          }
          input {
            display: none;
          }
          ul.preview {
            display: wrap;
          }
          .dropzone-container {
            display: flex;
            margin: 10px 0 0 0;
            // ul.preview {
            //   display: wrap;
            //   max-width: 618px;
            // }
            label {
              width: 100%;
            }    
          }
          .dropzone-area {
            float: right;
            position: relative;
            // right: 0;
            min-height: 160px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            text-align: center;
            width: 618px;
            p {
              font-size: 14px;
              font-weight: 600; 
              margin: 50px 0 0 0;
              display: inline-block;
            }
          }
        }
        .dropzone-container2 {
          display: flex;
          margin: 10px 0 0 0;
          // ul.preview2 {
          //   display: flex;
          // }
          label {
            width: 100%;
          }
        }
        .dropzone-area2 {
          display: none;
          position: relative;
          min-height: 160px;
          background: #f5f5f5;
          border: 1px dashed #ccc;
          text-align: center;
          width: 100%;
          p {
            font-size: 14px;
            font-weight: 600; 
            margin: 50px 0 0 0;
            display: inline-block;
          }
        }
      }
    
      .products-name {
        padding: 40px;
        border-bottom:1px solid #EEEEEE;
        &-box {
          &-head {
            font-weight: 600;
            font-size: 14px;
            .span {
              @include required;
            }
            .input-box {
              .in{
                width: 100%;
                margin: 8px 0 0;
                padding:10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                font-weight: initial;
                font-size: 16px;
                &[type=text]:focus {
                  border: 1px solid #0099e8;
                  outline: 0;
                }
              }
            }
          }
          &-explain {
            margin: 40px 0 0 ;
            &-header {
              font-weight: 600;
              font-size: 14px;
              .span {
                @include required;
              }
              .input-box {
                .text {
                  display: block;
                  font-weight: initial;
                  max-width: 100%;
                  min-height: 104px;
                  width: 100%;
                  padding: 10px;
                  margin: 8px 0 0;
                  border: 1px solid #ccc;
                  font-size: 16px;
                  line-height: 1.5;
                  height: 150px;
                  &[type=text]:focus {
                    border: 1px solid #0099e8;
                    outline: 0;
                  }
                } 
              }
            }
          }   
        }
      }
      .products-to {
        padding: 40px;
        border-bottom:1px solid #EEEEEE;
        overflow: auto;
        &-details {
          color: rgb(136, 136, 136);
          font-size: 14px;
          font-weight: bold;
          float: left;
        }
        &-box {
          float: right;
          width: 400px;
          margin: 0;
          &-form1 {
            margin: 0;
            &-category {
              display: block;
              font-weight: 600;
              font-size: 14px;
              .span {
                @include required;
              }
            }
            .selebo {
              position: relative;
              i {
                color: #888;
              }
            }
            .select-box{
              display: block;
              width: 100%;
              height: 48px;
              background-color: white;
              padding-left: 15px;
              border: 1px solid #cccccc;
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              position: relative;
              font-weight: initial;
              z-index: 1;
              &:focus {
                border: 1px solid #0099e8;
                outline: 0;
              }
            }
          }
          &-form2{
            margin: 40px 0 0 ;
            &-condition{
              font-weight: 600;
              font-size: 14px;
              .span{
                @include required;
              }
            }
            .selebo{
              i{
                color: #888;
              }
            }
            .select-box{
              display: block;
              width: 100%;
              height: 48px;
              background-color: white;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              padding-left: 15px;
              cursor: pointer;
              font-weight: initial;
              position: relative;
              border: 1px solid #cccccc;
              &:focus {
                border: 1px solid #0099e8;
                outline: 0;
              }
            }
          }
        }
      }
      .products-delivery {
        padding: 40px;
        border-bottom:1px solid #EEEEEE;
        overflow: auto;
        &-todo {
          display: inline;
          color: rgb(136, 136, 136);
          font-size: 14px;
          font-weight: bold;
        }
        .form-question {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #0099e8;
          color: #fff;
          line-height: 14px;
          font-size: 12px;
          text-align: center;
        }
        &-box {
          float: right;
          width: 400px;
          margin: 0;
          &-form3 {
            &-fee {
              display: block;
              font-weight: 600;
              font-size: 14px;
              .span{
                @include required;
              }
            }
            .selebo {
              i {
                color: #888;
              }
              .select-box {
                position: relative;
                display: block;
                width: 100%;
                height: 48px;
                background-color: white;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-left: 15px;
                cursor: pointer;
                font-weight: initial;
                border: 1px solid #cccccc;
                &:focus {
                  border: 1px solid #0099e8;
                  outline: 0;
                }
              }
            }
          }
          &-form4 {
            margin: 40px 0 0;
            &-area {
              font-weight: 600;
              font-size: 14px;
              .span {
                @include required;
              }
            }
            .selebo {
              i{
                color: #888;
              }
              .select-box {
                position: relative;
                display: block;
                width: 100%;
                height: 48px;
                background-color: white;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-left: 15px;
                cursor: pointer;
                font-weight: initial;
                border: 1px solid #cccccc;
                &:focus {
                  border: 1px solid #0099e8;
                  outline: 0;
                }
              }
            }
          }
          &-form5 {
            margin: 40px 0 0;
            &-day {
              font-weight: 600;
              font-size: 14px;
              .span {
                @include required;
              }
            }
            .selebo {
              i{
                color: #888;
              }
              .select-box {
                position: relative;
                display: block;
                width: 100%;
                height: 48px;
                background-color: white;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-left: 15px;
                border: 1px solid #cccccc;
                cursor: pointer;
                font-weight: initial;
                &:focus {
                  border: 1px solid #0099e8;
                  outline: 0;
                }
              }
            } 
          }      
        } 
      }
      .sell-price {
        padding: 40px;
        border-bottom:1px solid #EEEEEE;
        .sell-exp {
          color: rgb(170, 170, 170);
          font-size: 14px;
          font-weight: bold;
          display: inline;          
        }
        .inform {
          width: 25%;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          text-align: right;
          float: right;
          &:focus {
            border: 1px solid #0099e8;
            outline: 0;
          }
        }
        .form-question {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #0099e8;
          color: #fff;
          line-height: 14px;
          font-size: 12px;
          text-align: center;
        }
        .clearfix {
          text-align: center;
          padding: 0 0 38px 220px;
          .left {
            font-weight: 600;
            font-size: 14px;
            display: inline-block;
            width: 50%;
            text-align: left;
            .span {
              @include required;
            }
          }
          .right {
            display: inline;
          }
        }
        .hako {
          width: 62%;
          border-bottom: 1px solid #ccc;
          float: right;
        }
        .sale {
          padding: 24px 0 24px 235px;
          display: block;
          font-size: 14px;
          .rig {
            float: right;
          }
        }
        .last {
          padding: 24px 0 24px 235px;
          display: block;
          font-size: 16px;
          font-weight: bold;
          .rig_2 {
            float: right;
          }
        }    
      }   
      .warning {
        padding: 40px;
        font-size: 14px;
        p {
          font-size: 14px;
          display: inline;
        }
        .btn-red-red {
          display: block;
          margin: 40px 0 0 0;
          width: 100%;
          background-color: #ea352b;
          border: 1px solid #ea352b;
          color: white;
          font-size: 14px;
          line-height: 48px;
          cursor: pointer;
          outline: 0;
          &:focus{
            background-color: grey;
            transition: all 1s ease-out;
            border: none;
            outline: 0;
          }
        }
        .btn-back {
          display: block;
          border: 1px solid #aaa;
          margin: 24px auto 0;
          width: 45%;
          line-height: 48px;
          font-size: 14px;
          background-color: #aaa;
          color: white;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}

.btn-back {
  text-decoration:none;
  color: #0099e8;
}

.btn-back:hover {
  text-decoration: underline;
  opacity: 0.6;
}

.fo {
  background-color: #EEEEEE;
  padding: 20px 0;
  text-align: center;
}

.allowselebo {
  display: inline-block;
  position: absolute;
  color: #888;
  z-index: 2;
  left:  1010px;
  padding-top: 30px;
  pointer-events: none;
}

.listing-default--require {
  @include required;
  font-weight: 600;
}

.products-to-box-form1 {
  display: flex;
}

.selects {
  display: block;
  width: 100%;
  height: 48px;
  background-color: white;
  padding-left: 15px;
  border: 1px solid #cccccc;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-weight: initial;
  z-index: 1;
  margin-bottom: 10px;
  border-radius: 4px;
  &:focus {
    border: 1px solid #0099e8;
    outline: 0;
  }
}

.selebobo{
  position: relative;
}

.kitui{
  position: absolute;
  color: #888;
  top: 40%;
  z-index: 1;
  right: 25px;
  pointer-events: none;
}

.free {
  color: white;
  background-color: #888;
}

#product_state,#product_shipping_fee, #product_shipping_region,#product_shipping_date {
  @include okinawa;
}
