.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
.modal__bg{
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal2{
  width: 540px;
  height: 280px;
  border: 1px solid #eee;
  background-color: #FFFFFF;
  // z-index: 1;
  // display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-80%);
  &__listing{
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    &--completed{
      display: flex;
      align-items: center;
      color: #333333;
      font-weight: 600;
      
    }
  }
  &__continue{
    height: 195px;
    width: 100%;
    padding: 28px;
    &--text{
    font-size: 13px;
    display: inline-block;
    color: #AAAAAA;
    
    }
    &--button{
      
        height: 50px;
        width: 100%;
        background-color: #ea352d;
        color: #FFFFFF;
        cursor: pointer;
        margin: 28px 0 0 0;
    }
    &--text2{
      a{
     margin: 10px 0 0 140px;
     color:#0099e8;
     text-decoration: none;
     display: inline-block;
      }
      a:hover{
        text-decoration: underline;
        color: #84c7f1;
       }
    }
  }
}
}