.modal23{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
.modal__bg2{
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal22{
  width: 540px;
  height: 280px;
  border: 1px solid #eee;
  background-color: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-80%);
  &__listing2{
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    &--completed2{
      display: flex;
      align-items: center;
      color: #333333;
      font-weight: 600;
      
    }
  }
  &__continue2{
    height: 195px;
    width: 100%;
    padding: 15px 28px 28px 28px;
    text-align: center;
    &--text2{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: #AAAAAA;
    margin: 0 0 15px 0;
    }
    &--yesornobox{
      height: 80px;
      width: 100%;
      padding: 0 40px 0 40px;
      display: flex;
      justify-content: space-between;
    &--yesicon{
      height: 80px;
      width: 25%;
      border-radius: 20px;
      background-color: #0099e8;
      position: relative;
      &--yesyes{
        cursor: pointer;
        a{
      font-size:18px;
      font-weight: 600;
      color:#FFFFFF;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-decoration: none;
      display: inline-block;
        }
      }
    }
    
    &--noicon{
      height: 80px;
      width: 25%;
      border-radius: 20px;
      background-color: red;
      position: relative;
      &--nonono{
        font-size:18px;
      font-weight: 600;
      color:#FFFFFF;
      cursor: pointer;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: inline-block;
      }
    }
  }
  

  a.modal22__continue2--toptoptop{
    font-size: 16px;
    margin: 10px 0 0 0;
    color:#0099e8;
    cursor: pointer;
    text-decoration:none;
    display: inline-block;
  }
  a.modal22__continue2--toptoptop:hover{
    text-decoration: underline;
    color: #84c7f1;
  }
  
  }
}
}