-# - if user.errors.any?
-#   - unless user.valid?
-#     - if errors = user.errors.full_messages_for(column.to_sym)
-#       .alert.alert-warning
-#         %ul
-#           - errors.each do |error|
-#             %li=error
